.my-toast {
    position: absolute;
    background-color: #87cd1a;
    height: 20px;
    width: 210px;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    margin-left: 62px;
    color: white;
    border-radius: 10px;
    transition: 1s;
    /* visibility: hidden; */
    /* visibility: visible; */
}

.my-toast2 {
    position: absolute;
    left: 270px;
    background-color: #87cd1a;
    height: 20px;
    width: 210px;
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    margin-left: 62px;
    color: white;
    border-radius: 10px;
    transition: 1s;
    /* visibility: hidden; */
    /* visibility: visible; */
}